
#containerFavCards{
    justify-items: center;
   display: flex;
    padding: 5px;
}

#favDeck {
    
    margin-left: 15px;
}

#favCard {
   width: 300px;
   display: inline-block;
   margin:10px;
   background-image: url(../img/victa2.png); 
   
   border-width: 2px;
   border-color: black;
   border-radius: 5%;
   
   color: rgb(0, 0, 0);
}
#favTitle {
    font-size: 20px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#favText { 
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

 #favFooter { 
    border-width: 2px;
    border-color: rgb(0, 0, 0);
 }
 #favBody {
    height: 250px;
 }